article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
font-family: 'Bangers', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'PT Mono', ;
*/

html {
	font-size: 10px;
	height:100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f9f9f9;
	color: #565A5C;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1.4rem;
	height:100%;
}

img {
	max-width: 100%;
}

a:focus {
	outline: none;
}

a {
	text-decoration: none;
}

.wrapper {
	height: 100%;
}

.innerWrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

/* === H E A D E R === */

header.top {
	background-image: url("../images/header-bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom center;

	margin-bottom: 40px;
	height: 100%;

	overflow: hidden;
}


.siteTitle {
	
	width: 90%;

	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}

	.siteTitle h1 {
		font-family: 'Bangers', cursive;
		font-size: 12rem;
		margin-bottom: 20px;
		line-height: 0.95;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 8px;
		text-shadow: 3px 3px 4px rgba(0,0,0,0.8);

	}

	.siteTitle p {
		margin: 0 0 25px 0;
		font-size: 2.5rem;
		color: #fff;
		text-align: center;
		text-transform: uppercase;

		font-weight: 500;
		letter-spacing: 1px;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
	}

	.siteTitle p.animated.pulse {
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}

/* === M A I N === */

section.main {
	height: 1000px;
}

	.main h2 {
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.main a {
		color: #565A5C;
		text-decoration: underline;
		transition: all 0.2s ease;
	}

		.main a:hover {
			color: #D14412;
		}

pre {
	margin: 0;
}

.codeContent {
	background-color: rgba(0,0,0,0.1);
	padding: 0 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

	span.red {
		color: #D14412;
	}



/* === F O O T E R === */

footer.bottom {
	margin-bottom: 20px;
}

p.copyright {
	font-size: 1.2rem;
	text-align: center;
	color: #ccc;
	font-weight: 300;
}

	p.copyright a {
		color: #ccc;
		text-decoration: underline;
		transition: all 0.2s ease;
	}

		p.copyright a:hover {
			color: #D14412
		}